<div class="mx-auto p-5 tablet:p-8 max-w-xlg">
    <div
        class="join-us flex-col gap-4 tablet:flex-row tablet:gap-0 bg-black-smoke rounded-xlg flex justify-between items-center text-white p-6">
        <p class="font-display-bold text-base tablet:text-xl leading-7 tracking-[-0.015em]">Join the community </p>
        <div class="grid grid-cols-3 gap-8 xsm:flex items-center xsm:gap-4 tablet:gap-6">
            <a href="https://twitter.com/sustaindao" target="_blank"><img
                    src="{{site.baseurl}}/assets/images/icons/twitter.svg" /></a>
            <a href="https://discord.com/invite/rSnzWhGAS8" target="_blank"><img
                    src="{{site.baseurl}}/assets/images/icons/discord.svg" /></a>
            <a href="https://github.com/SustainDAO" target="_blank"><img
                    src="{{site.baseurl}}/assets/images/icons/github.svg" /></a>
            <a href="https://www.gitbook.com/" target="_blank"><img src="{{site.baseurl}}/assets/images/icons/gitbook.svg" /></a>
            <a href="https://www.discourse.org/" target="_blank"><img
                    src="/assets/images/icons/discourse.svg" /></a>
            <a href="https://juicebox.money/#/" target="_blank"><img src="{{site.baseurl}}/assets/images/icons/juicebox.svg" /></a>
        </div>
    </div>
</div>